:root {
    --bg-primary: #1b0000; /*deep espresso*/
    --primary: #ff8550; /*coral*/
    --accent-one: #3e2723; /*dark brown*/
    --accent-two: #ffb300; /*gold*/
    --accent-three: #ffebee; /*off-white*/
    --playerOne-primary: #5c4033; /*electric cyan*/
    --playerTwo-primary: #ff7518; /*hot pink*/
    --accent-three: #ffebee; /*off-pink*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    /* outline: 1px solid red; */
}

body {
    background-color: var(--bg-primary);
    color: white;
    padding: 1em;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary);
}

h3 {
    margin: 0 0 0.25em 0;
}

input {
    height: 2em;
    font-size: 1rem;
    padding: 0.35em 0.5em;
    border-radius: 0.5em;
    border: 0.25em solid var(--accent-two);
    background-color: var(--accent-one);
    color: var(--accent-three);
    font-size: 1.25rem;
}

#playBtn {
    width: 250px;
    height: 75px;
    font-size: 2.25rem;
    border-radius: 0.5em;
    color: var(--accent-three);
    background-color: var(--accent-one);
    border: 0.1275em solid var(--accent-two);
    transition: background-color 0.3s ease-in-out;
}

#playBtn:hover {
    background-color: var(--primary);
}

#gameControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75em;
    padding: 1em;
}

#playerNames {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 2.25em;
    row-gap: 0.5em;
    font-size: 1.5rem;
}

#playerOneLabel {
    color: var(--playerOne-primary);
}

#playerTwoLabel {
    color: var(--playerTwo-primary);
}

#gameBoard {
    display: grid;
    width: 80vw;
    max-width: 700px;
    aspect-ratio: 1;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.85em;
    padding: 1em;
    text-align: center;
    background-color: var(--primary);
    border-radius: 2em;
    border: 0.65em solid var(--accent-one);
}

#gameStatus {
    color: var(--primary);
    font-size: 32px;
}

.square {
    font-size: 12.5rem;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 0;
    background-color: var(--accent-three);
    border-radius: 0.25em;
    border: 0.02em solid var(--accent-one);
    transform: scale(1);
    transition: transform 0.35s ease-in-out;
    transition: border 0.35s ease-in-out;
}

.square:hover {
    border: 0.02em solid var(--accent-two);
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    #playerNames {
        display: flex;
        flex-direction: column;
    }

    .square {
        font-size: 8.75rem;
    }
}

@media screen and (max-width: 400px) {
    #gameControls,
    #gameBoard {
        padding: 0.25em
    }

    h1,
    #gameStatus {
        font-size: 1.15rem;
    }

    #playBtn {
        width: 125px;
        height: 40px;
        font-size: 1.25rem;
        border-radius: 0.5em;
    }

    input {
        height: 1.5em;
        font-size: .75rem;
        padding: 0.75rem 1rem;
        border-radius: 0.5em;
    }

    .square {
        font-size: 5rem;
    }
}
