* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    /* outline: 1px solid red; */
}

body {
    background-color: black;
    color: white;
}

#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

button {
    width: 250px;
    height: 250px;
}